body {
    margin: 0;
    padding: 0;
}

.App {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.login-page {
    background-color: #141d26;
    height: 100%;
    overflow-x: hidden;
}

.login-info-container {
    height: 100%;
}

.login-info {
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
}

.login-icon {
    margin-top: 20% !important;
}

.login-header {
    font-size: 72px;
    font-weight: bolder; 
    font-family: monospace;
}

.login-subheader {
    font-size: 36px;
    font-weight: bolder;
    font-family: monospace;
}

.login-field {
    width: 100%;
}

.signup-field {
    width: 95%;
    margin: 2.5% !important;
}

.signup-icon {
    left: 50%;
    position: relative;
    margin-top: 5%;
}

.button {
    float: left;
    border-radius: 25px 25px 25px 25px !important;
}

button.tweet {
    width: 100%;
    height: 55px;
    color: white;
    font-weight: 600 !important;
    font-size: 1.1rem !important;
}

.button.sign-up {
    
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    height: 55px;
    color: #1DA1F2;
    font-weight: 600 !important;
    font-size: 1.1rem !important;
}

button.login {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 55px;
    color: white;
    font-weight: 600 !important;
    font-size: 1.1rem !important;
}

button.upload {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 55px;
    color: white;
    font-weight: 600 !important;
    font-size: 1.1rem !important;
}

.css-1utzy2-MuiButtonBase-root-MuiButton-root.upload {
    left: 25% !important; 
    width: 50%;
}

button.tweet-2 {
    float: right !important;
    margin-right: 5%;
    height: 45px;
    color: white !important;
    font-weight: 600!important;
    font-size: 1rem !important;
}

.view-tweet-count {
    color: black;
}

.dark-view-tweet-count {
    color: white;
}

.detail-text {
    color: rgb(110, 110, 110);
}

.dark-detail-text {
    color: dimgrey;
}

.css-mhc70k-MuiGrid-root>.MuiGrid-item {
    padding-right: 16px;
}

.view-tweet-section {
    border-bottom: 1px solid rgb(233, 233, 233);
    justify-content: center;
    padding-bottom: 2%;
}

.dark-view-tweet-section {
    border-bottom: 1px solid dimgrey;
    justify-content: center;
}

p.home-text {
    font-weight: 700 !important;
    font-size: 22px !important;
    padding: 2%;
    margin: 2%;
}

.star-icon {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    float: right;
    padding: 2% !important;
    margin: 3% !important;
}

.bar-icon {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.MuiTypography-root {
    font: bolder;
    font-size: 1.25rem !important;
    font-weight: 400 !important;
}

.button-text {
    padding-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.MuiButton-text {
    font-size: 1.25rem !important;
}

.MuiButton-root {
    text-transform: capitalize !important;
}

.home-header {
    border-bottom: 1px solid rgb(233, 233, 233);;
}

.home-title {
    border-bottom: 1px solid rgb(233, 233, 233);
}

#tweet-message {
    color: black !important;
    padding-bottom: 2%;
}

#dark-tweet-message {
    color: white !important;
    padding-bottom: 2%;
}

#reply-message {
    color: black !important;
    padding-bottom: 2%;
}

#dark-reply-message {
    color: white !important;
    padding-bottom: 2%;
}

.tweet-text {
    width: 100% !important;
}

.nav {
    border-right: 1px solid rgb(233, 233, 233);
}

.nav-content {
    position: fixed;
    max-width: 13%;
}

.discover {
    border-left: 1px solid rgb(233, 233, 233);
}

.discover-content {
    position: fixed;
}

.MuiButton-root {
    text-transform: capitalize !important;
}

.dark-home-header {
    border-bottom: 1px solid dimgrey;
}

.dark-home-title {
    border-bottom: 1px solid dimgrey;
}

.dark-nav {
    border-right: 1px solid dimgrey;
}

.dark-discover {
    border-left: 1px solid dimgrey;
}

.iconborder {
    width: min-content;
    height: min-content;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.tweet-card {
    border-top: 1px solid rgb(233, 233, 233);
    border-radius: 0px 0px 0px 0px !important;
    padding-bottom: 1% !important;
}

.tweet-card-0 {
    border-radius: 0px 0px 0px 0px !important;
    padding-bottom: 1% !important;
}

.dark-tweet-card {
    border-top: 1px solid rgb(110, 110, 110);;
    border-radius: 0px 0px 0px 0px !important;
    padding-bottom: 1% !important;
}

.dark-tweet-card-0 {
    border-radius: 0px 0px 0px 0px !important;
    padding-bottom: 1% !important;
}

.tweet-card:hover {
    background-color: whitesmoke !important;
    cursor: pointer;
}

.tweet-card-0:hover {
    background-color: whitesmoke !important;
    cursor: pointer;
}

.dark-tweet-card:hover {
    background-color: #1d2935  !important;
    cursor: pointer;
}

.dark-tweet-card-0:hover {
    background-color: #1d2935 !important;
    cursor: pointer;
}

.MuiGrid-spacing-xs-1 > .MuiGrid-item {
    padding: 0px !important;
}

.MuiGrid-spacing-xs-2 {
    width: 100% !important;
    margin: 0 !important;
}

.logo {
    width: 100%;
    height: 100%;
}

.tweet-image {
    border-radius: 15px 15px 15px 15px !important;
    max-width: 100%;
    min-width: 95%;
    max-height: 300px;
}

.reply-image {
    border-radius: 15px 15px 15px 15px !important;
    max-width: 100%;
    min-width: 90%;
    max-height: 500px;
}

.unviewed-reply-image {
    border-radius: 15px 15px 15px 15px !important;
    max-width: 100%;
    min-width: 95%;
    max-height: 300px;
}

#avatar-image {
    left: 50% !important;
}

.modal-card {
    background-color: #141d26 !important;
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px 25px 25px 25px !important;
}


.MuiTypography-root.display-name {
    font-weight: 700 !important;
}

.css-37jdci-MuiTypography-root {
    color: #7c7c7c  !important;
    font-weight:lighter !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 165% !important;
}

.css-acwr6o-MuiGrid-root>.MuiGrid-item {
    padding-left: 15px !important;
    padding-right: 25px !important;
}

#at-sign {
    font-size: 14px !important;
    line-height: 225% !important;
}

.MuiTypography-root.display-name:hover {
    text-decoration: underline;

}

.signature {
    display: flex;
}
.signature:hover {
    cursor: pointer;
}

.Mui-disabled {
    background-color: rgb(29, 155, 240, 0.4) !important;
}

.css-z1g505-MuiButtonBase-root-MuiButton-root {
    color: black !important;
}

.css-1qomy71-MuiInputBase-root-MuiInput-root:before {
    border-bottom: 0 !important;
}

.css-1qomy71-MuiInputBase-root-MuiInput-root {
    font-size: 1.25rem !important;
}

/* Tweet message text */
.MuiTypography-root.MuiTypography-inherit.css-37jdci-MuiTypography-root.tweet-body {
    font-size: 18px !important;
}

.options-button {
    float: right;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-right: 2% !important;
    width: min-content !important;
    height: min-content !important;
}

.options-text {
    position: relative;
    top: 20%;
    transform: translateY(-15%);
    font-weight: 600 !important;
    color:rgb(110, 110, 110) !important;
}

.dark-options-text {
    position: relative;
    top: 20%;
    transform: translateY(-15%);
    font-weight: 600 !important;
    color:dimgrey !important;
}

.css-3bmhjh-MuiPaper-root-MuiPopover-paper {
    width: 10% !important;
}

.css-1yu1pm6-MuiButtonBase-root-MuiButton-root {
    width: 100% !important;
}