.App {
    height: 100vh;
}

.button {
    background-color: white;
    float: left;
    border-radius: 25px 25px 25px 25px !important;
}

button.tweet {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 55px;
    color: white;
    font-weight:700;
    font-size: 1.1rem !important;
}

button.tweet-2 {
    width: 15%;
    float: right;
    height: 45px;
    color: white;
    font-weight:700;
    font-size: 1rem !important;
}

.MuiTypography-root {
    font: bolder;
    font-size: 1.25rem !important;
    font-weight: 400;
}

.button-text {
    padding-right: 10px;
}

.MuiButton-text {
    padding: 6px 24px !important;
    font-size: 1.25rem !important;
}

.MuiButton-root {
    text-transform: capitalize !important;
}

.home-title {
    border-bottom: 2px solid grey;
}

.tweet-text {
    width: 100%;
}

.Nav {
    border-right: 2px solid grey;
    height: 100vh;
}

.Discover {
    border-left: 2px solid grey;
    height: 100vh;
}

.iconborder {
    width: min-content;
    height: min-content;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
}

.tweet-card {
    width: 100%;
    border: 2px solid grey;
}


